<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>junApplication.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C01B2C61E88F3F10036B881</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C01B2DA1E88F3F10036B881</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C01B2E51E88F3F10036B881</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
